<section class="menu" style="width:300px;height:200px">
    <div>
        <div class="topMenu">
            <b class="menuName">Menu</b>
            <button class="close"></button>
        </div><hr>
    </div>
    <div>
        <div class="content" style="height:50px;">
        </div>
    </div>
    <div class="bottomMenu">
    </div>
</section>
<hr>
<section class="menu" style="width:300px;height:300px; position:absolute;">
    <div>
        <div class="topMenu">
            <b class="menuName">Menu</b>
            <button class="close"></button>
        </div><hr>
    </div>
    <div>
        <div class="content" style="height:205px;">
        </div>
    </div><hr>
    <div class="bottomMenu">
        <button class="btn orange">Confirm</button>
    </div>
</section>
<hr>
<section class="menu" style="width:200px;height:100px; position:absolute; left:45%; top: 40%;">
    <div>
        <div class="topMenu" id="topMenu">
            <b class="menuName">Pop Up</b>
            <button class="close"></button>
        </div><hr>
    </div>
    <div>
        <div class="content" style="height:40px;">
            <label style="margin-top:-5px;">Casadas a <b>1km</b></label>
        </div>
    </div>
    <div class="bottomMenu">
    </div>
</section>